/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* App container */
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Button and counter container */
  .counter-container {
    display: flex;
    align-items: center;
  }
  
  /* Button styles */
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Decrease button */
  button:nth-of-type(1) {
    background-color: #d9534f; /* Red */
  }
  
  button:nth-of-type(1):hover {
    background-color: #c9302c; /* Darker red */
  }
  
  /* Increase button */
  button:nth-of-type(3) {
    color: #5cb85c; /* Green */
  }
  
  button:nth-of-type(3):hover {
    background-color: #4cae4c; /* Darker green */
  }
  
  /* Reset button */
  button:nth-of-type(4) {
    background-color: #0275d8; /* Blue */
  }
  
  button:nth-of-type(4):hover {
    background-color: #025aa5; /* Darker blue */
  }
  
  /* Counter display */
  span {
    font-size: 3rem;
    margin: 0 20px; /* Add space around the counter */
  }
  