.Users {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
}

.Users p {
  margin: 10px 0;
  font-size: 16px;
}
.heading {
  text-align: center; 
  margin-top: 20px; 
}

